<footer style="--gap:.75rem">
  <div class="container2">
    <div class="flex sb gap-row flex-sm-column-reverse" style="--gap:1rem;row-gap:3rem">
      <div class="flex gap" style="--gap:.25rem">
        <span>Created by <a class="bg-link" href="https://github.com/{{site.repository}}">@{{site.github_username}}</a>.</span>
        <span>Using <a class="bg-link" href="https://github.com/{{site.repository}}/issues">issues</a>.</span>
      </div>
      <div id="hue-color" class="flex gap-col aic sb">
        <div class="flex gap" style="font-size:.9rem" title="Color wheel degree value">
          <input id="hue-range" class="form-range" oninput="setTheme(this.value)" type="range" min="0" max="360" value="{{site.theme_hue|default: 140}}" list="tickmarks" />
          <input id="hue-input" type="number" oninput="setTheme(this.value)" maxlength="3" size="4" min="0" max="360" value="{{site.theme_hue|default: 140}}" step="10" />
        </div>
        <div class="theme-group">
          <button onclick="setColorTheme(this.value)" value="light" id="btn-light-theme">{% include svg/sun.svg %}</button>
          <button onclick="setColorTheme(this.value)" value="dark" id="btn-dark-theme">{% include svg/moon.svg %}</button>
        </div>
      </div>
    </div>
  </div>
</footer>