<footer style="--gap:.75rem">
  <div class="flex sb gap-row flex-sm-column-reverse" style="--gap:1rem">
    <div class="flex gap" style="--gap:.25rem">
      <span>Created by <a href="https://github.com/{{site.repository}}">@{{site.github_username}}</a>.</span>
      <span>Using <a href="https://github.com/{{site.repository}}/issues">issues</a>.</span>
    </div>
    <div>
      <div id="theme-color" class="flex gap-col" style="--gap:.75rem">
        <div class="flex gap" style="--gap:.5rem;font-size:.9rem" title="Color wheel degree value">
          <input id="hue-range" class="form-range" oninput="setTheme(this.value)" type="range"  min="0" max="360" value="{{site.theme_hue|default: 140}}" list="tickmarks" />
          <input id="hue-input" type="number" oninput="setTheme(this.value)" maxlength="3" size="4" min="0" max="360" value="{{site.theme_hue|default: 140}}" step="10" />
        </div>
      </div>
    </div>
  </div>
</footer>