:root {
  --px-size: 1rem;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --header-size: 50px;
  --gap: .1rem;
  --padding: 1rem;
  --columns: 1;
  --h: 330;
  --s: 73.4%;
  --l: 54%;
  --hsl: hsl(var(--h), var(--s), var(--l));
  --primary-color: hsl(var(--h), var(--s), var(--l));
  --accent-color: hsl(var(--h), 100%, 70%);
  --darker-color: hsl(var(--h), 100%, 20%);
}