:root {
  --px-size: 1rem;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --header-size: 50px;
  --gap: .1rem;
  --padding: 1rem;
  --columns: 1;
  --h: 185;
  --s: 100%;
  --l: 40%;
  --hsl: hsl(var(--h), var(--s), var(--l));
  --primary-color: hsl(var(--h), var(--s), var(--l));
  --accent-color: hsl(var(--h), 90%, 50%);
  --darker-color: hsl(var(--h), 100%, 25%);
}