header{grid-area:header}
main{grid-area:main}
aside{grid-area:sidebar}
footer{grid-area:footer}
.container{display:grid;grid-template-areas:"header header ." "main main ." "sidebar sidebar ." "footer  footer .";grid-template-columns:1fr;grid-template-rows:var(--header-size) 1fr auto auto}
.container{--padding:1rem;--padding2:.5rem}
.container{--padding:0;scrollbar-width:none}
footer{padding-top:1.5rem;padding-bottom:1.85rem;color:hsla(var(--h),70%,15%,1)}
header .title svg{width:20px;fill:var(--unfocus-color);stroke:var(--darker-color)}
header .title a{display:flex;flex-direction:column;align-content:flex-start;align-items:flex-start;gap:.15rem}
h1.site-title{font-size:.9rem;width:100%;white-space:pre}
@media (max-width:576px){
footer{--gap:1rem}
html{font-size:13px}
body{font-size:inherit}
h1.site-title{display:none}
.wrap{flex-direction:column}
.gap-sm{gap:var(--gap)}
.flex-sm-column-reverse{flex-direction:column-reverse}
header .search{max-width:unset; width:70%}
}
@media (max-width:700px){
aside,main section>:not(pre,.highlighter-rouge),main>:not(section,hr){width:95%;margin-left:auto;margin-right:auto}
body{overflow-x:hidden}
.highlighter-rouge{padding-left:0}
aside ul{columns:2}
pre>code{white-space:pre!important}
footer>.flex,header a{width:95%;margin-left:auto;margin-right:auto}
header{padding:0 2.5%}
}
@media (min-width:700px){
header .title a{display:flex}
aside,footer{padding:0 var(--padding)}
footer>.flex{padding:1rem 0rem;align-items:center}
.container{--padding:2rem}
.container{grid-template-areas:"header header header" "main main main" "sidebar sidebar sidebar" "footer footer footer";display:grid}
aside ul{margin:1rem 0;padding-left:1rem}
aside h4{display:block;background:0;padding:0 0}
main .page-content{column-count:var(--columns);column-gap:3rem}
main .page-content>:first-child{margin-top:0;padding-top:0}
pre{break-inside:avoid;overflow-x:scroll;break-before:avoid}
footer{border-top:1px dotted}
.flex-lg-column{flex-direction:column}
}
@media (min-width:900px){
aside ul{column-width:20vw;margin:1rem 0}
.form-range{min-width:200px}
}