.container2{padding:0 var(--padding)}
@media (max-width:576px){
footer{--gap:1rem}
html{font-size:13px}
body{font-size:inherit}
.site-title{display:none}
.wrap{flex-direction:column}
.gap-sm{gap:var(--gap)}
.flex-sm-column-reverse{flex-direction:column-reverse}
header .search{max-width:unset;width:60%}
}
@media (max-width:700px){
aside,main section>:not(pre,.highlighter-rouge),main>:not(section,hr){margin-left:auto;margin-right:auto}
body{overflow-x:hidden}
.highlighter-rouge{padding-left:0}
aside ul{columns:2}
pre>code{white-space:pre!important}
footer>.flex,header a{width:95%;margin-left:auto;margin-right:auto}
}
@media (min-width:700px){
header .title a{display:flex}
footer>.flex{padding:1rem 0rem;align-items:center}
.container2{--padding:calc(5vw + 1rem)}
aside ul{margin:1rem 0;padding-left:1rem}
aside h4{display:block;background:0;padding:0 0}
main .page-content{column-count:var(--columns);column-gap:calc(8vw - 1rem)}
main .page-content>:first-child{margin-top:0;padding-top:0}
pre{break-inside:avoid;overflow-x:scroll;break-before:avoid}
footer{border-top:1px dotted}
.flex-lg-column{flex-direction:column}
}
@media (min-width:900px){
aside ul{column-width:20vw;margin:1rem 0}
.form-range{min-width:200px}
.container2{--padding:calc(5vw + 1rem)}
}
@media (min-width:1100px){
html{font-size:16px}
body{--border-width:2px}
}