:root {
  --border-width: 2px;
  --px-size: 1rem;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --monospace: : ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --header-size: 50px;
  --gap: .1rem;
  --padding: 1rem;
  --columns: 1;
  --h: 140;
  --s: 70%;
  --l: 40%;
  --hsl: hsl(var(--h), var(--s), var(--l));
  --primary-color: hsl(var(--h), var(--s), var(--l));
  --accent: var(--h), var(--s), var(--l);
  --accent-color: hsl(var(--h), var(--s), 30%);
  --darker-color: hsl(var(--h), 30%, 35%);
  --lighter-color: hsl(var(--h), 10%, 94%);
  --faded-color: hsl(var(--h), 20%, 60%);
  --bg-color: hsl(var(--h), 11%, 95%);
  --light: #fff;
  --dark: #222;
  --bright-raw: var(--h), 70%, 60%;
  --semi: hsl(var(--bright-raw));
  --bright-dark: hsl(var(--h), 100%, 30%);
  --bg: var(--light);
  --fg: var(--dark);
  --border-color: var(--bg-color);
  --link-color: var(--semi);
  --strong-color: hsl(var(--h), 30%, 30%);
  --codeblock: hsl(var(--h), 30%, 90%);
  box-sizing: border-box;
  scrollbar-width: thin
}

/* body, */
[data-layout=dark] {
  --accent: var(--h), 10%, 40%;
  --bg: hsl(var(--h), 21%, 14%);
  --fg: var(--light);
  --bright-dark: hsl(var(--h), 100%, 30%);
  --border-color: hsl(var(--h), 100%, 30%);
  --darker-color: hsl(var(--h), 90%, 35%);
  --bg-color: hsl(var(--h), 21%, 95%);
  --accent-color: var(--bright-dark);
  --faded-color: hsl(var(--h), 50%, 30%);
  --link-color: hsl(var(--h), 70%, 35%);
  --codeblock: hsl(var(--h), 20%, 5%);
  --strong-color: hsl(var(--h), 60%, 30%)
}