body {
  --border-width: 1.5px;
  --px-size: 1rem;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --monospace: : ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --header-size: 60px;
  --gap: .1rem;
  --padding: 1rem;
  --columns: 1;
  --hsl: hsl(var(--h), var(--s), var(--l));
  --primary-color: hsl(var(--h), var(--s), var(--l));
  --accent: var(--h), 90%, 30%;
  --accent-color: hsl(var(--h), var(--s), 30%);
  --darker-color: hsl(var(--h), 30%, 20%);
  /* --darker-color: hsl(var(--h), 40%, 25%); */
  --lighter-color: hsl(var(--h), 10%, 94%);
  --faded-color: hsl(var(--h), 20%, 60%);
  --bg-color: hsl(var(--h), 10%, 95%);
  --light: #fff;
  --dark: #222;
  --bright-raw: var(--h), 50%, 50%;
  --semi: hsl(var(--bright-raw));
  --bright-dark: hsl(var(--h), 100%, 30%);
  --bg: var(--light);
  --fg: var(--dark);
  --gray: 217.89, 10.61%, 34.9%;
  --border-color: hsla(var(--gray), 20%);
  --link-color: hsla(var(--h), 90%, 30%, .75);
  --strong-color: hsl(var(--h), 60%, 30%);
  --codeblock: hsl(var(--h), 30%, 90%);
  --unfocus: var(--h), var(--s), 20%;
  --unfocus-color: hsla(var(--unfocus), .5);
  box-sizing: border-box;
  scrollbar-width: thin
}

/* body, */
[data-layout=dark] {
  --accent: var(--h), 10%, 40%;
  --accent-color: hsl(var(--h), 100%, 90%);
  --bg: hsl(var(--h), 21%, 14%);
  --fg: var(--light);
  --bright-dark: hsl(var(--h), 100%, 30%);
  --border-color: hsl(var(--h), 100%, 30%);
  --darker-color: hsl(var(--h), 30%, 60%);
  --bg-color: hsl(var(--h), 30%, 5%);
  --accent-color: hsl(var(--h), 100%, 50%);
  --faded-color: hsl(var(--h), 50%, 30%);
  --link-color: hsl(var(--h), 70%, 35%);
  --codeblock: hsl(var(--h), 20%, 5%);
  --strong-color: hsl(var(--h), 60%, 70%);
  --gray: var(--h), 90%, 90%;
}