body,
html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none
}

body {
  --border-width: .1rem;
  --px-size: 1rem;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
  --monospace: : ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --header-size: 60px;
  --gap: .1rem;
  --padding: 1rem;
  --columns: 1;
  --link-thickness: 1.5px;
  --hsl: hsl(var(--h), var(--s), var(--l));
  --primary-color: hsl(var(--h), var(--s), var(--l));
  --accent: var(--h), 90%, 30%;
  --darker-color: hsl(var(--h), 30%, 20%);
  --lighter-color: hsl(var(--h), 10%, 94%);
  --faded-color: hsl(var(--h), 20%, 60%);
  --input-color: hsl(var(--h), 20%, 60%);
  --icon-color: hsl(var(--h), 90%, 30%);
  --bg-color: hsl(var(--h), 10%, 95%);
  --light: #fff;
  --dark: #222;
  --bright-raw: var(--h), 50%, 50%;
  --semi: var(--h), 70%, 80%;
  --bright-dark: hsl(var(--h), 100%, 30%);
  --bg: var(--light);
  --fg: var(--dark);
  --fg-opposite: var(--light);
  --gray: 217.89, 10.61%, 34.9%;
  --link-color: hsl(var(--h), 20%, 30%);
  --strong-color: hsl(var(--h), 50%, 30%);
  --codeblock: hsl(var(--h), 30%, 90%);
  --unfocus: var(--h), var(--s), 20%;
  --unfocus-color: hsl(var(--h), 40%, 30%);
  --dull-bright: hsl(var(--h), 10%, 90%);
  --border-color: hsl(var(--h), 40%, 90%);
  box-sizing: border-box;
  scrollbar-width: thin
}

#hue-color {
  --s: 50%;
  --l: 60%;
  --hue-color-space: hsl(0 var(--s) var(--l)), hsl(60 var(--s) var(--l)), hsl(120 var(--s) var(--l)), hsl(180 var(--s) var(--l)), hsl(240 var(--s) var(--l)), hsl(300 var(--s) var(--l)), hsl(360 var(--s) var(--l));
  --hue-color-space-bg: linear-gradient(to right, var(--hue-color-space));
  --hue-shadow: 0 0 0 1px hsla(var(--h), var(--s), 30%, .7), 0 0 0 .3rem hsla(var(--h), 30%, var(--l), .5);
  --thumb-size: .8rem
}

[data-theme=light] {
  --bg: var(--bg-color);
  --accent-color: hsl(var(--h), 30%, 30%);
  --accent-color: #FFF;
  --main-bg: #fff
}

[data-theme=dark] {
  --unfocus: var(--h), var(--s), 20%;
  --unfocus-color: hsl(var(--h), 80%, 30%);
  --accent: var(--h), 10%, 40%;
  --accent-color: hsl(var(--h), 40%, 10%);
  --bg-color: hsl(var(--h), 30%, 20%);
  --bg: hsl(calc(var(--h) + 5), 37%, 20%);
  --fg: var(--light);
  --fg-opposite: var(--dark);
  --bright-dark: hsl(var(--h), 100%, 30%);
  --border-color: hsl(var(--h), 40%, 70%);
  --darker-color: hsl(var(--h), 40%, 70%);
  --faded-color: hsl(var(--h), 50%, 80%);
  --input-color: hsl(var(--h), 20%, 90%);
  --icon-color: hsl(var(--h), 40%, 30%);
  --link-color: hsl(var(--h), 50%, 45%);
  --codeblock: hsl(var(--h), 20%, 5%);
  --strong-color: hsl(var(--h), 90%, 70%);
  --gray: var(--h), 90%, 80%;
  --dull-bright: hsl(var(--h), 20%, 20%);
  --main-bg: hsl(var(--h), 20%, 10%)
}