.search{--hover-color:hsl(var(--h), 30%, 70%);position:relative;width:100%;min-width:20vw;max-width:200px}
#search-input:focus{color:hsla(var(--h),var(--s),25%,60%);background-color:0;border-color:var(--hover-color);outline:0;box-shadow:0 0 0 .2725rem hsla(var(--h),var(--s),30%,0%)}
#search-input:focus~#search-results{display:block;background:0 0;width:100%}
#search-results li{display:block;border-top:3px solid hsla(var(--h),var(--s),95%,10%);margin:0 0;padding:0 0}
#search-results ul{display:flex;flex-direction:column;margin:0 0;padding:0 0}
#search-results{width:calc(100% - 10px);display:none;position:absolute;z-index:0;/*! top:2.58rem; */max-height:90vh;overflow-y:scroll;/*! left:-2px; */font-size:.9rem}
#search-results:hover{display:block}
#search-input{z-index:10000}
.search input{font-size:1rem;z-index:1000;width:100%;border-radius:0;border:0;border-bottom:3px solid hsla(var(--h),var(--s),30%,20%);padding:3px .125rem;color:var(--unfocus-color);background:0 0;font-family:var(--sans-serif);padding-left:1.5rem}
.search-results-list a{background:hsl(var(--h),30%,90%);display:block;padding:.5rem;text-decoration:none;/*! margin: 0 0; */width:100%}
.search-results-list a:hover{background:var(--bg)}
.search-results-list p{font-size:.8rem;line-height:1.2;display:-webkit-box!important;-webkit-line-clamp:var(--clamp-lines,2);-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.search-results-list strong{color:hsl(var(--h),90%,20%)}
#search-results{box-shadow:0 10px 40px rgba(0,0,0,.1)}
input::placeholder{color:var(--faded-color)}
#search-icon{position:absolute;left:0;/*! padding:0 .55rem; */z-index:-1;display:flex;align-items:center;height:100%/*! border: 3px solid red; */}
#search-icon svg{width:14px;height:14px;stroke:var(--faded-color);stroke-width:2px}
#hue-selector{border:0;padding:.25rem;background:var(--bg);color:var(--faded-color);outline:0}
.search:hover #search-input{color:hsla(var(--h),var(--s),25%,80%)}