.search{position:relative;width:100%;min-width:25vw;max-width:250px}
#search-input:focus{color:hsla(var(--h),var(--s),25%,60%);background-color:0;border-color:inherit;outline:0;box-shadow:0 0 0 .2725rem hsla(var(--h),var(--s),30%,0%)}
#search-input:focus~#search-results{display:block;background:0 0;width:100%}
#search-results li{display:block;border-top:3px solid hsla(var(--h),var(--s),30%,15%);margin:0 0;padding:0 0}
#search-results ul{display:flex;flex-direction:column;margin:0 0;padding:0 0}
#search-results{width:100%;display:none;position:absolute;z-index:0;top:2.58rem;border:0 solid rgba(255,255,255,.5);max-height:90vh;overflow-y:scroll;left:-2px;font-size:.9rem}
#search-results:hover{display:block}
#search-input{z-index:10000}
.search input{font-size:inherit;z-index:1000;width:calc(100% - .235rem);line-height:1.15;border-radius:0;border:0;border-bottom:3px solid hsla(var(--h),var(--s),30%,20%);padding:.245rem .125rem;color:var(--strong-color);background:0 0;font-family:var(--sans-serif)}
.search-results-list a{background:#fff;display:block;padding:.5rem;text-decoration:none}
.search-results-list a:hover{background:hsla(var(--h),40%,80%,.8)}
.search-results-list p{font-size:.8rem;line-height:1.2;display:-webkit-box!important;-webkit-line-clamp:var(--clamp-lines,2);-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.search-results-list strong{color:hsl(var(--h),90%,20%)}
#search-results{box-shadow:0 10px 40px rgba(0,0,0,.1)}
input::placeholder{color:var(--faded-color)}