.search{position:relative;width:30vw;min-width:200px;max-width:30vw}
#search-input:focus{color:var(--accent-color);background-color:var(--bg);border-color:hsla(var(--h),var(--s),30%,60%);outline:0;box-shadow:0 0 0 .25rem hsla(var(--h),var(--s),30%,20%)}
#search-input:focus~#search-results{display:block;background:#fff;width:100%}
#search-results li{display:block;border-bottom:1px solid hsla(var(--h),var(--s),30%,30%);margin:0 0;padding:0 0}
#search-results ul{display:flex;flex-direction:column;margin:0 0;padding:0 0}
#search-results{width:100%;display:none;position:absolute;top:2.75rem;border:1px solid hsla(var(--h),var(--s),30%,30%);max-height:50vh;overflow-y:scroll;left:-1px}
#search-results:hover{display:block}
.search input{width:calc(100% - 2px);line-height:1.15;border-radius:2px;border:1.25px solid hsla(var(--gray),.3);padding:.45rem .5rem;color:hsla(var(--gray),.9)}
.search-results-list a{background:#fff;display:block;padding:.5rem;text-decoration:none}
.search-results-list a:hover{background:hsl(var(--h),80%,90%)}
.search-results-list p{line-height:1.2;display:-webkit-box!important;-webkit-line-clamp:var(--clamp-lines,2);-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.search-results-list strong{color:var(--accent-color)}