---
layout: default
type: issue
---

<div class="sidebar">
  {% include sidebar.html -%}
</div>
<div class="page">
  <h2 class="page-title">{{page.title}}</h2>
  <section class="body">
  {{ page.body|markdownify }}
  {%- if page.comments > 0 %}
  {%- assign comments = site.data.comments[page.number] | sort: "created_at" -%}
  {%- for comment in comments %}
  <hr>
  {{ comment.body|markdownify }}
  {%- endfor %}
  {%- endif %}
  </section>
  <hr>
  <p>Last modified on <time>{{page.created_at|date:"%b%e, %Y"}}</time></p>
</div>