---
layout: page
type: issue
---

<h2 class="page-title">{{page.title}}</h2>
<div class="time">
  <time data-label="Created" datetime="{{page.created_at}}">{{page.created_at|date:"%b %d %Y"}}</time>
  <time data-label="Modified" datetime="{{page.updated_at}}">{{page.updated_at|date:"%b %d %Y"}}</time>
</div>
<section class="body">
{{ page.body|markdownify }}
{%- if page.comments > 0 %}
{%- assign comments = site.data.comments[page.number] | sort: "created_at" -%}
{%- for comment in comments %}
<hr>
{{ comment.body|markdownify }}
{%- endfor %}
{%- endif %}
</section>