<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta charset="UTF-8">
  {%- if page.title == "Home" %}
  <title>{{site.title}} · blog by @nntrn</title>
  {%- else %}
  <title>{{page.title|default:site.title}} · {{site.title}}</title>
  {%- endif %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="icon" href="{{site.favicon_ico|relative_url}}" type="image/x-icon">
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.author}} (@{{site.github_username}})">
  <meta name="robots" content="index, follow">
  <meta name="format-detection" content="telephone=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  
  <style>{% include css/root.css %}</style>
  <style>{% include css/global.css %}</style>
  <style>{% include css/grid.css %}</style>
  <style>{% include css/highlight.css %}</style>
</head>
<body>
<div class="container">
<header>
  <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{site.title}}</a></h1>
</header>
<main>{{ content }}</main>
{%- if page.title != 'Home' %}
{% include sidebar.html -%}
{%- endif %}
{% include footer.html %}
</div>
{% include scripts.html %}
</body>
</html>
