---
layout: default
type: issue
---

{%- assign pagecreated = page.created_at | date: "%b%_d %Y" %}
{%- assign pagemodified = page.updated_at | date: "%b%_d %Y" -%}
<article class="page">
  <h2 class="page-title">{{page.title}}</h2>
  <p>Created on <time>{{pagecreated}}</time>&nbsp;
  {%- if pagemodified != pagecreated -%}and last updated on <time>{{pagemodified}}</time>{%- endif -%}
  </p>
  <div class="flex gap">
    <span>Created: <time>{{pagecreated}}</time></span>
    {%- if pagemodified != pagecreated -%}
    <span>Updated: <time>{{pagemodified}}</time>.</span>
    {%- endif -%}
  </div>
  <hr>
  {%- if page.comments > 1 or page.body.size > 1000 -%}
  {% assign columns = 2 %}
  {%- endif -%}
  <section class="page-content" style="--columns:{{columns|default: 1}}">
    {{ page.body|markdownify }}
    {%- if page.comments > 0 %}
    {%- assign comments = site.data.comments | where: "number",page.number | sort: "created_at" -%}
    {%- for comment in comments %}
      {{ comment.body|markdownify }}
    {%- endfor %}
    {%- endif %}
  </section>  
</article>